<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436800386581-4h8a4ksf7m9igkaulsdak4udvu8i9vn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436800386581-4h8a4ksf7m9igkaulsdak4udvu8i9vn3</string>
	<key>API_KEY</key>
	<string>AIzaSyDdAbBKCR1sqhGJ3IGzQCNb_U-BNAgQsOo</string>
	<key>GCM_SENDER_ID</key>
	<string>436800386581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfantest</string>
	<key>PROJECT_ID</key>
	<string>fanmobiletest-2fffb</string>
	<key>STORAGE_BUCKET</key>
	<string>fanmobiletest-2fffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436800386581:ios:2e5db6aad957ccacad001c</string>
</dict>
</plist>